
%content {
  h2 {
    @extend %pt-4x;
    @extend %text-xl;
    @extend %lg\:text-2xl;
    border-top: 1px solid $color-black;
  } 

  article {
    @extend %mb-40x;
    @extend %lg\:mb-90x;
    line-height: 1.35;

    @include bp-lg() {
      line-height: 1.3;
      &:last-of-type {
        margin-bottom: 0;
      }
    }

    &:last-of-type {
      margin-bottom: 0;
    }
  }
}

.content-project {
  @extend %lg\:mt-25x;

  h1 {
    @extend %text-xl;
    @extend %lg\:text-2xl;
    @extend %mb-40x;
    @extend %lg\:mb-20x;
  }

  .project-text {
    @extend %my-25x;
    @extend %lg\:mt-40x;
    @extend %lg\:mb-0;
    line-height: 1.35;
    @include bp-lg() {
      line-height: 1.3;
    }

    .project-text__info {
      @extend %lg\:pb-100x;
    }
  }

  .project-credits {
    @extend %pt-6x;
    @extend %pb-50x;
    @extend %lg\:pb-100x;
    @extend %lg\:pt-0;
    @extend %my-25x;
    @extend %lg\:mt-0;
    @extend %text-sm;
    border-top: 1px solid $color-black;
    line-height: 1.25;

    @include bp-lg() {
      border-top: 0;
    }
    
    h2 {
      @extend %text-lg;
      @extend %mb-25x;
    }
  }
}

.content-contact {
  address {
    @extend %pt-4x;
    @extend %lg\:pt-0;
    @extend %lg\:text-xl;
    line-height: 1.35;
    border-top: 1px solid $color-black;
    @include bp-lg() {
      border-top: none;
      line-height: 1.2;
    }
  }
}

.content-profile {
  @extend %content;
  h2 {
    @extend %mb-20x;
  }
}

.content-jobs {
  @extend %content;
  h2 {
    @extend %mb-20x;
  }
}

.content-awards {
  @extend %content;

  h2 {
    @extend %mb-12x;
  }

  h3 {
    @extend %font-semi-bold;
  }

  article.award {
    @extend %mb-24x;
    @extend %lg\:mb-30x;
    picture {
      @extend %mb-4x;
      @extend %lg\:mb-6x;
    }
  }
}

.content-publications {
  @extend %content;

  h2 {
    @extend %mb-12x;
  }

  h3 {
    @extend %font-semi-bold;
  }
  
  h4 {
    @extend %text-md;
    @extend %lg\:text-lg;

    span {
      @extend %mr-3x;
      background-color: $color-black;
      display: inline-block;
      height: 1px;
      line-height: 1 !important;
      position: relative;
      top: 12px;
      width: 15px;
      vertical-align: top;
    }
  }

  article.publication {
    @extend %mb-24x;
    @extend %lg\:mb-30x;

    picture {
      @extend %mb-4x;
      @extend %lg\:mb-6x;
    }
  }
}

.content-teams {
  @extend %content;

  article.team {
    @extend %mb-20x;
    @extend %lg\:mb-40x;

    &:last-of-type {
      @extend %mb-20x;
      @extend %lg\:mb-40x;
    }
  }

  h3 {
    @extend %text-md;
    @extend %lg\:text-lg;
    @extend %pb-10x;
    @extend %mb-14x;
    border-bottom: 1px solid $color-black;
  }

  .team__member {
    @extend %mb-16x;
    line-height: 1.35;

    @include bp-lg() {
      line-height: 1.3;
    }

    strong {
      @extend %font-semi-bold;
    }

    &.team__member--former {
      margin-bottom: 0;
    }
  }
}