/**
 * -----------------------------------------------------------------------------
 * File: theme/brand
 * -----------------------------------------------------------------------------
 *
 */

.brand {
  color: $color-primary;

  svg {
    display: block;
    height: auto;
    width: 100%;
    max-width: 125px;
    @include bp-md() {
      max-width: 160px;
    }
  }
}