/**
 * -----------------------------------------------------------------------------
 * File: layout/menu/site
 * -----------------------------------------------------------------------------
 */

nav.site {
  background-color: $color-white;
  height: 100%;
  left: 0;
  opacity: 0;
  //overflow-y: auto;
  pointer-events: none;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: -1;

  &.is-visible {
    opacity: 1;
    pointer-events: all;
    transition: opacity .12s ease-in;
    z-index: 300;
  }

  @include bp-lg() {
    width: calc(33.3333% - ((100% - 1286px)/2));
  }

  @include bp-xl() {
    // 1366px (page max width) - 80px (padding on both sides)
    left: calc((100% - 1286px)/2);
  }

  > div {
    @extend %pt-65x;
    @extend %pl-40x;
    @extend %pr-15x;
    @extend %xl\:pl-0;
  }

  ul a {
    @extend %text-2xl;
    @extend %py-2x;
  }

  ul ul a {
    @extend %text-xl;
  }

  ul ul ul a {
    @extend %text-md;
    @extend %py-3x;
  }

  ul ul ul ul a {
    @extend %py-1x;
    @extend %text-base;
    line-height: 1.25 !important;
  }

  ul a {
    line-height: 1 !important;
    position: relative;

    &:before {
      background-color: $color-black;
      content: '';
      display: none;
      height: 1px;
      line-height: 1 !important;
      position: absolute;
      left: -32px;
      top: calc(50% - 1px);
      width: 26px;
      z-index: 200;
    }

    &.is-active,
    &:hover {
      &:before {
        display: block;
      }
    }
  }

  ul ul {
    display: none;
    &.is-current {
      @extend %mb-32x;
      @extend %lg\:mb-40x;
      display: block;
    }
  }

  ul ul ul {
    @extend %mb-0;
    &.is-current {
      @extend %mb-24x;
    }
  }

  ul ul ul ul {
    @extend %ml-20x;
    &.is-parent,
    &.is-current {
      @extend %mb-0;
    }
  }
}