article {

  &.teaser {
    @extend %mb-60x;

    header {
      @extend %content-header;
    }

    h3 {
      @extend %\!text-md;
    }
    
    h2 {
      @extend %mb-30x;
      @extend %text-2xl;
      line-height: 1.1;
    }

    p {
      line-height: 1.35;
    }

    picture {
      @extend %mb-8x;
      @extend %lg\:mb-12x;
      display: block;
      max-width: 80%;
    }
  }

}