article {

  &.teaser {
    @extend %mb-60x;

    header {
      @extend %content-header;
    }

    h3 {
      @extend %\!text-md;
    }
    
    h2 {
      @extend %mb-15x;
      @extend %text-2xl;
      line-height: 1.1;
    }

    p {
      line-height: 1.35;
    }

    picture {
      @extend %mb-8x;
      @extend %lg\:mb-12x;
      max-width: 80%;
      opacity: 1;
      transition: opacity .12s ease-in-out;
    }
  
    a:hover {
      picture {
        opacity: .8;
      }
    }

  }
}

.teaser-columns > div a + article.teaser {
  @extend %mt-20x;
}