footer.site-footer {
  @extend %mt-20x;
  border-top: 1px solid $color-black;

  > div {
    @extend %pt-12x;
    @extend %pb-16x;
    @extend %text-sm;
    @extend %lg\:text-lg;
    line-height: 1.3;
  }

  a {
    color: $color-black;
    text-decoration: none;
    text-underline-offset: 3px;

    &:hover {
      text-decoration-line: underline;
      text-decoration-thickness: .05em;
    }
  }
}