/**
 * -----------------------------------------------------------------------------
 * File: layout/header
 * -----------------------------------------------------------------------------
 */

header.site-header {
  background-color: $color-white;
  height: $header-height;
  position: relative;

  @include bp-lg() {
    height: $header-height-lg;
  }

  > div {
    @extend %flex;
    @extend %items-center;
    @extend %justify-end;
    @extend %pt-15x;
  }
}

%content-header,
header.content-header {
  @extend %mb-4x;
  @extend %pb-4x;
  border-bottom: 1px solid $color-black;

  h3 {
    @extend %text-sm;
    @extend %lg\:text-md;
  }
}