/**
 * -----------------------------------------------------------------------------
 * File: modules/grid
 * -----------------------------------------------------------------------------
 */

.teasers {
  
  > div {
    @extend %p-2x;
    border: 2px dashed $color-light-grey;
  }

  .is-draggable {
    cursor: move;
  }

  .teaser__item {
    @extend %mb-5x;
    position: relative;

    &.is-hidden {
      figure {
        opacity: .4;
      }
    }
  }

  .teaser__item__actions {
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 100;
  }

  .btn {
    @extend %p-1x;
    border-radius: 2px;
    display: block;
    color: $color-white;
    line-height: 1;

    &.btn--delete {
      background-color: $color-red;
    }

    &.btn--toggle {
      @extend %mr-1x;
      background-color: $color-blue;
    }

    &.btn--select {
      @extend %p-2x;
      background-color: $color-green;
      display: inline-flex;
      align-items: center;
      line-height: 1 !important;
      span {
        @extend %ml-1x;
        display: block;
      }
    }

    &:hover {
      background-color: $color-secondary;
    }

    svg {
      display: block;
      height: 18px;
      width: 18px;
    }
  }


  figure {
    
    figcaption {
      @extend %pt-1x;
      display: block;
    }

    img {
      @extend %is-responsive;
    }
  }

  article {
    @extend %px-2x;
    @extend %py-3x;
    background-color: $color-light;

    h3 {
      @extend %pb-1x;
      @extend %mb-2x;
      color: $color-black;
      @include font-bold();
      border-bottom: 1px solid $color-black;
    }

    h2 {
      @include font-size($fs-md);
      @extend %mb-4x;
    }

    p:last-of-type {
      margin-bottom: 0 !important;
    }
  }

}

.teaser-asset-selector {
  align-items: center;
  background-color: rgba(240,240,240,.9);
  display: flex;
  height: 100%;
  justify-content: center;
  left: 0;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1001;

  > div {
    @extend %page-block;
    @extend %p-2x;
    @extend %py-5x;
    background-color: $color-white;
    min-width: 480px;
    max-width: 720px !important;
    position: relative;
  }

  .teaser-asset-selector__images {
    @extend %mt-5x;
    display: flex;
    flex-flow: wrap;
  }

  h2 {
    @include font-size($fs-md);
  }

  img {
    @extend %m-1x;
    cursor: pointer;
    display: block;
    height: 100px;
    flex: 0 0 auto;
    opacity: 1;
    transition: opacity .1s ease-in;
    width: auto;

    &:hover {
      opacity: .7;
    }
  }
}