/**
 * -----------------------------------------------------------------------------
 * File: typo/sizes
 * -----------------------------------------------------------------------------
 *
 */


// Auth / Buttons
$fs-btn: (
  null: (15px,1.33),
  sm:   (15px,1.33),
  md:   (16px,1.33),
  lg:   (16px,1.33),
  xl:   (16px,1.33),
);

// 15px
%text-sm,
.text-sm {
  font-size: 0.938rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-base, 
  .#{$bp}\:text-base {
    @media (min-width: $width) {
      font-size: 0.938rem;
    }
  }
}

// 16px
%text-base,
.text-base {
  font-size: 1rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-base, 
  .#{$bp}\:text-base {
    @media (min-width: $width) {
      font-size: 1rem;
    }
  }
}

// 18px
%text-md,
.text-md {
  font-size: 1.125rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-md, 
  .#{$bp}\:text-md {
    @media (min-width: $width) {
      font-size: 1.156rem;
    }
  }
}

// 20px
%text-lg,
.text-lg {
  font-size: 1.25rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-lg, 
  .#{$bp}\:text-lg {
    @media (min-width: $width) {
      font-size: 1.25rem;
    }
  }
}

// 25px
%text-xl,
.text-xl {
  font-size: 1.6rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-xl, 
  .#{$bp}\:text-xl {
    @media (min-width: $width) {
      font-size: 1.6rem;
    }
  }
}

// 32px
%text-2xl,
.text-2xl {
  font-size: 2rem;
}
@each $bp, $width in $breakpoints {
  %#{$bp}\:text-2xl, 
  .#{$bp}\:text-2xl {
    @media (min-width: $width) {
      font-size: 2.1875rem;
    }
  }
}