.teaser-columns {
  @include bp-md() {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 17px;
  }
}

.content-columns {
  @include bp-lg() {
    columns: 200px 2;
    column-gap: 17px;
  }
}