/**
 * -----------------------------------------------------------------------------
 * File: components/images
 * -----------------------------------------------------------------------------
 *
 * Various classes for image elements
 */

%is-responsive,
.is-responsive {
  display: block;
  height: auto;
  max-width: 100%;
  width: 100%;
}

picture {

  img {
    @extend %is-responsive;
  }

  &.is-teaser {
    figcaption {
      @extend %pt-3x;
      @extend %text-sm;
      @extend %lg\:text-lg;
      display: block;
      min-height: 54px;
      @include bp-lg() {
        min-height: 80px;
      }
    }
  }
}

a {
  picture.is-teaser {
    opacity: 1;
    transition: opacity .12s ease-in-out;
  }

  &:hover {
    picture.is-teaser {
      opacity: .8;
    }
  }
}