/**
 * -----------------------------------------------------------------------------
 * File: components/line
 * -----------------------------------------------------------------------------
 */

%line,
.line {
  border-top: 1px solid $color-black;
}

%line-left,
.line-left {
  background-color: $color-black;
  content: '';
  display: none;
  height: 1px;
  line-height: 1 !important;
  position: absolute;
  left: -32px;
  top: calc(50% - 1px);
  width: 26px;
  z-index: 200;
}
