/**
 * -----------------------------------------------------------------------------
 * File: components/logo
 * -----------------------------------------------------------------------------
 */

.logo {
  display: block;
  height: auto;
  width: 240px;

  @include bp-lg() {
    width: 327px;
  }
  
  svg {
    @extend %is-responsive;
  }
}