%icon-chevron-down,
.icon-chevron-down {
  @extend %text-base;
  @extend %pr-40x;
  @include background-default();
  background-image: url($url-icons + 'chevron-down.svg');
  background-size: 21px auto;
  background-position: top 4px right;
  display: inline-block;
  vertical-align: top;

  @include bp-lg() {
    background-position: top 8px right;
  }
}