%icon-chevron,
.icon-chevron {
  @extend %text-base;
  @extend %pr-28x;
  @include background-default();
  background-image: url($url-icons + 'chevron-down.svg');
  background-size: 21px auto;
  background-position: center right;
  display: inline-block;
  vertical-align: top;

  &.is-active {
    background-image: url($url-icons + 'chevron-up.svg');
  }
}